@rr@
type T;
statement list sl;
parameter list pl;
@@


T ##name##( pl ) {
sl
}


@script:python@
t << rr.T;
sl << rr.sl;
pl << rr.pl;
@@
print ("{0} ##name## ({1}){{".format(t,pl))
print (sl)
print ('}')
